.container{
  position: absolute;
  background-color: rgba(10,10,10,0.5);
  max-width: 30%;
  max-height: 20%;
  min-width: 30%;
  min-height: 20%;
  z-index: 1;
}
.contact .kontact{
    padding: 50%;
    position: absolute;
    right: 1%;
    top:1%;
}
.contact a{
  text-decoration: none;
  color: black;
  padding: 5px 10px 5px 10px;
}
.kontact a{
  text-decoration: none;
  color: White;
  padding: 5px 10px 5px 10px;
}
img{
  position: static;
  top:100px;
  left:100px;
  border-radius: 50%;
}
img:hover{
  box-shadow: 5px 10px 600px rgb(100,50,50);
}
.namepanel {
  background-color: White;
  margin: auto;
  padding: auto;
  max-width: 66%;
  max-height: 10%;
  text-align: center;
  animation-name: namepanel;
  animation-duration: 2s;
  animation-delay: 1s;
  animation-fill-mode: both;
  animation-timing-function: ease-in;

}
.name{
  font-size: 50px;
  color: Black;
  display: inline;
  animation-name: name;
  animation-duration: 2s;
  animation-delay: 1s;
  animation-fill-mode: both;
  animation-timing-function: ease-out;
}
.letter{
  padding: 10px 10px 10px 10px;
}
.letter:hover{
  background-color: white;
  border-radius: 50px;
  color: black;
  font-size: 60px;
}
.letter{
  display: inline-block;
}
/* animate */
@keyframes name{
  from{max-height: inherit;max-width: inherit;color: black;}
  to{max-width: 10%;max-height: 100%;color: white;text-align: right;}
}
@keyframes namepanel {
  0%{
    background-color: White;
    max-width: inherit;
    max-height: inherit;
  }
  50%{
    background-color: White;
    max-width: 100%;
    max-height: 90%;
  }
  100%{
    background-color: black;
    max-width: 90px;
    max-height: 90%;

  }
}
