.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    font-size: 22px;
    visibility: hidden;
    background-color: black;
    color:white;
    text-align: center;
    border-radius: 6px;
    padding: 7px 7px 7px 7px;
    position: absolute;
    z-index: 1;
    top: 125%;
    left: 50%;
    min-width: 400px;
    max-width: 100%;
    margin-left: -200px;
    opacity: 0;
    transition: opacity 1s;
}

.tooltip .tooltiptext::after {
    
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: grey transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}
